# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv1/
env/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Database
*.db
*.sqlite3

# Build
build/
dist/

# OS Files
.DS_Store
Thumbs.db